body {
    background-color: white;
}


.stap1 {
    background-image: url("/img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stap1 .container {
    margin-bottom: 20px;
}
